[data-am-button]{
	outline: none;
	background-color: @clr-tertiary;
	color: @clr-complementary;
	border: none;
	padding: 10px;
	.elevate(1);
	cursor: pointer;

	&:hover{
		.elevate(2);
		background-color: @clr-primary;
	}

	&.icon-animate i{
		display: inline-block;
		.animation(spin 2s infinite linear);
	}
}

[data-am-button~="link"]{
	background-color: transparent;
	color: @clr-primary;
	box-shadow: none;

	&:hover{
		.elevate(0);
		color: darken(@clr-primary ,5%);
		background-color: transparent;
	}
}

[data-am-button~="icon"]{
	
	background: transparent;
	border: none;
	font-size: 24px;
	color: @font-color;
	box-shadow: none;
	padding: 0;

	&.icon-animate{
		display: inline-block;
		.animation(spin 2s infinite linear);
	}

	&:hover{
		.elevate(0);
		color: @clr-primary;
		border-radius: 50%;
		background-color: transparent;
	}

}