[data-am-grid-col]{
	float: left;
}

[data-am-grid-col~="xs-1"]{
	width: (100/(12 / 1)) * 1%;
}

[data-am-grid-col~="xs-2"]{
	width: (100/(12 / 2)) * 1%;
}

[data-am-grid-col~="xs-3"]{
	width: (100/(12 / 3)) * 1%;
}

[data-am-grid-col~="xs-4"]{
	width: (100/(12 / 4)) * 1%;
}

[data-am-grid-col~="xs-5"]{
	width: (100/(12 / 5)) * 1%;
}

[data-am-grid-col~="xs-6"]{
	width: (100/(12 / 6)) * 1%;
}

[data-am-grid-col~="xs-7"]{
	width: (100/(12 / 7)) * 1%;
}

[data-am-grid-col~="xs-8"]{
	width: (100/(12 / 8)) * 1%;
}

[data-am-grid-col~="xs-9"]{
	width: (100/(12 / 9)) * 1%;
}

[data-am-grid-col~="xs-10"]{
	width: (100/(12 / 10)) * 1%;
}

[data-am-grid-col~="xs-11"]{
	width: (100/(12 / 11)) * 1%;
}

[data-am-grid-col~="xs-12"]{
	width: (100/(12 / 12)) * 1%;
}